.park-info-row {
    overflow: hidden;
    margin-bottom: 1rem;
}

.park-info-row.show-map {
    height: revert;
}

.map {
    width: 100%;
    height: 0;
    transition: height .5s ease-out;
    margin-bottom: 1rem;
}

.show-map {
    height: 500px;
}

@media (max-width: 991px) {
    .map {
        margin-left: 0;
    }
}