.comments .header {
    text-align: left;
}

.comments .new-comment-editing {
    margin-bottom: 1rem;
}

.new-comment-editing .edit-area {
    width: 97.5%;
    margin-left: 2.5%
}

.new-comment-editing .edit-buttons {
    margin-left: 2.5%;
    width: 25%;
}