.review {
    border: 1px solid black;
    margin-top: 1rem;
    padding: 1rem;
}
.review-header {
    display: flex;
     justify-content: space-between;
}
.review-user {
    font-size: 1rem;
}
.edit-icon {
    position: static;
    padding-left: 1rem;
}

.edit-icon:hover {
    cursor: pointer;
}
.review-ratings {
    display: flex;
    justify-content: space-around;
}

.rating-icon {
    font-size: 2rem;
}

.rating-icon.good {
    color: green
}

.rating-icon.bad {
    color: red;
}

.rating-icon.neutral {
    color: darkorange;
}